/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*-------------------------------
 universal style 
 -------------------------------*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}





/*------------------------------
    header style start
--------------------------------*/

header{
    justify-content: center;
    display: flex;
    margin: 0 60px;
    margin-top: 30px;
    margin-bottom: 150px;
}

.header-container{
    display: flex;
    align-items: center;
    border: 2px solid;
    padding: 50px;
    gap: 90px;
    border-radius: 10px;
    background-color: #161616;

}

.header-title{
    width: 50%;
    color: #FFFFFF;

}
.header-title h1{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 30px;
}

.header-title p{
    margin-bottom: 50px;
}

.button{
    background-color: #DD0000;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 20px;
    color:  #FFFFFF;
    text-decoration: none;
}

.fa-greater-than{
    margin-left: 10px;
    font-size: 20px;

}

.header-img{
    width: 50%;
}

.header-img img{
    width: 100%;
}



/*------------------------------
    header style end
--------------------------------*/


/*----------------------------------
    manuber boxes container starts
--------------------------------====*/

.manuber-boxes-container{
    display: flex;
    column-gap: 20px;
    margin: 0 60px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.manuber-container{
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    padding: 18px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.manuber-container a{
    border-radius: 10px;
    color: #161616;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    width: 252px;
    height: 64px;
    align-items: center;
    justify-content: center;
    display: flex;;
    background-color: #FFFFFF;
    margin: 10px;
    transition: .8s;
    
    
}


.manuber-container a:hover{
    background-color: #fb0771;
    color: #FFFFFF;
}

#blog{
    background-color: #fb0771;
    color: #FFFFFF;
}

.boxes-container{
    display: flex;
    flex-grow: 1;
   
}

.all-boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box{
    border-radius: 5px; 
    box-shadow: 4px 8px 16px rgb(206, 204, 204);
}

.box-img img{
    width: 312px;
    height: 175px;
    width: 100%;
}

.box-description{
    padding: 10px;
    margin-top: 15px;
}

.box-description h3{
    font-weight: 500;
    border: 1px solid #161616;
    font-size: 19px;
    padding: 3px 6px;
    width: 100px;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    margin-bottom: 15px;
}

.box-description h2{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: justify;
}

.duration{
    display: flex;
    width: 143px;
    height: 26px;
    justify-content: space-between;
    margin-bottom: 20px;
}


/* manuber boxes container starts end */

.view-all-link{
    margin: 90px;
    justify-content: center;
    display: flex;
    visibility: hidden;
}


/* footer start */


footer{
    background-color: #161616;
    padding: 90px 0;
}

.footer-description{
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
}

.footer-description h1{
    color: #FFFFFF;
    margin-bottom: 50px;
}

.footer-manu{
    margin-bottom: 60px;
}

.footer-manu a{
    margin: 20px;
    font-size: 17px;
    color: #FFFFFF;
    text-decoration: none;


}

.social-link a{
    color: #FFFFFF;
    font-size: 26px;
    margin: 30px;
}



/* upcoming match style */

.boxes-container2{
    display: flex;
    flex-grow: 1;
    justify-content: center;


   
}


.boxes-container2{
    display: flex;
    flex-grow: 1;


   
}

.all-boxes2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.box2{
    padding: 50px 30px;
    border-radius: 5px; 
    box-shadow: 4px 8px 16px rgb(206, 204, 204);
}

.box-img2{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.box-img2 span{
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
}

.box-img2 img{

    width: 40%;

    
}

.box-description2{
    text-align: center;

}

.box-description2 h2{
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 10px;
}


.box-description2 p{
    font-size: 14px;
}





/* upxoming match style end */




/*-----------------------------------
 responsive design 
 ------------------------------------*/

 @media screen and (max-width: 688px) {

    /*  header style */



    .header-container{
        display: flex;
        flex-direction: column;
    }
    
    .header-title{
        width: 100%;
        text-align: center;

    }

    .header-title p{
        margin-bottom: 50px;
    }
    
    .header-img{
        width: 100%;
    }
    

    /* manuber boxes container starts */

.manuber-boxes-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manuber-container{
    background-color: #FFFFFF;
    align-items: center;
}
.manuber-container a{
    border: 1px solid #161616;
    font-size: 24px;

    
}




.all-boxes{

    grid-template-columns: repeat(1, 1fr);

}


.box-img img{
    width: 357px;
    height: 200.24px;
    width: 100%;
}




.box-description h2{
    font-size: 20px;

}




/*----------------------------------
    footer start
------------------------------------*/

.footer-manu a{
    display: flex;
    flex-direction: column;
    text-align: center;

}



 /* upcoming match responsibe phone */

 .boxes-container2{
    display: flex;
    flex-grow: 1;


   
}

.all-boxes2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.box2{
    padding: 50px 30px;
    border-radius: 5px; 
    box-shadow: 4px 8px 16px rgb(206, 204, 204);
}

.box-img2{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.box-img2 span{
    font-size: 20px;
    font-weight: 700;
}

.box-img2 img{
    width: 100px;
    height: 55px;

    
}

.box-description2{
    text-align: center;

}






    
 }



 /* tablet responsive */


 @media screen and (min-width: 689px) and (max-width: 992px) {
    
/* manuber boxes container starts */

.manuber-boxes-container{

    display: flex;
    flex-direction: column;
    
}

.manuber-container{
    width: 95%;
    height: 50%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.manuber-container a{

    border: 1px solid #161616;
    padding: 0 10px;
    
}



.boxes-container{
    display: flex;
   
}

.all-boxes{

    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.box{
    border-radius: 5px; 
    box-shadow: 4px 8px 16px rgb(206, 204, 204);
}

.box-img img{
    width: 312px;
    height: 175px;
    width: 100%;
}


.view-all-link{
    visibility: visible;
}


/* footer responsive */

.footer-description{
    padding: 0 60px;
    text-align: center;
}

.footer-manu a{
    margin: 20px;
    font-size: 17px;
    color: #FFFFFF;
    text-decoration: none;


}


/* upcoming match responsive */

.boxes-container2{
    display: flex;
    flex-grow: 1;


   
}

.all-boxes2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.box2{
    padding: 50px 30px;
    border-radius: 5px; 
    box-shadow: 4px 8px 16px rgb(206, 204, 204);
}

.box-img2{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.box-img2 span{
    font-size: 20px;
    font-weight: 700;
}

.box-img2 img{
    width: 100px;
    height: 55px;

    
}

.box-description2{
    text-align: center;

}




 }







 